<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
</head>
<body>
    <form id="time_input">
        <label for="time">Time:</label>
        <input type="number" id="time", name="time">
        <button type="button" onclick="set_time()">Enter</button>
    </form>
    <h1 id="timer">00:00</h1>
    <button onclick="pause()">Pause</button>
</body>

<script>
    let settings = {
        'work': 5,
        'break': 10,
        'longBreak': 15,
        'pomodoroIntervals': 4
    }
    
    let state = {
        running: false,
        phase: 'work',
        time: settings.work,
        pomodoros: 0,
        intervalID: null
    }
    
    let countdownEl = document.getElementById('timer')
    
    function timeOver() {
        if (state.phase == 'work'){
            state.pomodoros += 1
            if (state.pomodoros % settings.pomodoroIntervals === 0){
                
                state.phase = 'longBreak'
            } else {
                state.phase = 'break'
            }
        } else {
            state.phase = 'work'
        }
        startPhase(state.phase)
    }
    
    function startPhase(phase){
        state.phase = phase
        state.time = settings[phase]
    
        update_screen()
    }
    
    function set_time() {
        update_screen()
    
        if (state.intervalID !== null) {
            clearInterval(state.intervalID)
        }
    }
    
    function update_screen() {
        const minutes = Math.floor(state.time/60);
        let seconds = state.time % 60;
        seconds = seconds < 10 ? '0' + seconds : seconds;
    
        countdownEl.textContent = `${minutes}:${seconds}`
    }
    
    function updateCountdown() {
        state.time--;
        if (state.time < 0){
            clearInterval(state.intervalID)
            state.running = false
            timeOver()
        }
        update_screen()
    }
    
    
    function pause() {
        if (state.running) {
            clearInterval(state.intervalID)
            state.running = false
        } else {
            state.intervalID = setInterval(updateCountdown, 1000);
            state.running = true
        }
        
    }
    </script>
</html>


