<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
</head>
<body>
    <form id="time_input">
        <label for="time">Time:</label>
        <input type="number" id="time", name="time">
        <button type="button" onclick="set_time()">Enter</button>
    </form>
    <h1 id="timer">00:00</h1>
    <button onclick="pause()">Pause</button>
</body>
</html>

<script>
let on = false
let time = 0
let intervalID = null
let countdownEl = document.getElementById('timer')

function set_time() {
    const time_input = document.getElementById('time');
    const time_value = time_input.value
    time = time_value * 60
    update_screen()

    if (intervalID !== null) {
        clearInterval(intervalID)
    }
}

function update_screen() {
    const minutes = Math.floor(time/60);
    let seconds = time % 60;
    seconds = seconds < 10 ? '0' + seconds : seconds;

    countdownEl.textContent = `${minutes}:${seconds}`
}

function updateCountdown() {
        time--;
        time = time < 0 ? 0:time;
        if (time < 0){
            time = 0
            clearInterval(intervalID)
            intervalID = null
        }

        update_screen()
}


function pause() {
    if (on) {
        clearInterval(intervalID)
        on = false
    } else {
        intervalID = setInterval(updateCountdown, 1000);
        on = true
    }
    
}
</script>
